doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/mui-github-markdown.css')
    link(rel='stylesheet', href='/stylesheets/prop-type-description.css')
    script(src='/build/common.js')
    style.
      html{
        width: 800px;
      }
      .markdown-body table tr,
      .propTypeDescription table tr:nth-child(2n) {
        background-color: transparent;
      }
      .propTypeDescription table td {
        font-family: "noto sans" !important;
      }
      .propTypeDescription table th:first-child {
        width: 150px;
      }
  body
    block content
      #react-container

      script.
        window.store = !{store};

      script(src='/build/main.js')