doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/flexboxgrid.min.css')
    link(rel='stylesheet', href='/stylesheets/mui-github-markdown.css')
    link(rel='stylesheet', href='/stylesheets/prop-type-description.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='chrome-webstore-item', href='https://chrome.google.com/webstore/detail/ghnfiadioahomhmocmhgjhpmhcmcggjg')
    script(src='/build/common.js')

    style.
      .propTypeDescription table th:first-child {
        width: 150px;
      }
  body
    block content